/*****************************************************************************
 * STYLING FOR HOME PAGE SLIDER                                              *
 *****************************************************************************/

/* Slider */
#slider{
  width:100%;
  height:667px;
  position:relative;
  overflow:hidden;
}
@keyframes load{
  from{left:-100%;}
  to{left:0;}
}
.slides{
  width:400%;
  height:100%;
  position:relative;
  -webkit-animation:slide 30s infinite;
  -moz-animation:slide 30s infinite;
  animation:slide 30s infinite;
}
.slider{
  width:25%;
  height:100%;
  float:left;
  position:relative;
  z-index:1;
  overflow:hidden;
}
.slide img{
  width:100%;
  height:100%;
  vertical-align: bottom;
}
.image{
  width:100%;
  height:100%;
/*  height:auto; */ 
  vertical-align: bottom;
}
.image img{
  width:100%;
  height:100%;
  vertical-align: bottom;
}

img{
    margin-bottom:-5px;
    vertical-align: bottom;    
}

/* Legend */
.legend{
  border:200px solid transparent;
  border-left:800px solid rgba(18, 18, 18, .7);
  border-bottom:0;
  position:absolute;
  bottom:0;
}

/* Contents */
.content{
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
}
.content-txt{
  width:400px;
  height:150px;
  float:left;
  position:relative;
  top:500px;
  -webkit-animation:content-s 7.5s infinite;
  -moz-animation:content-s 7.5s infinite;
  animation:content-s 7.5s infinite;
}
.content-txt h1{
  font-family:Intro;
  font-size:24px;
  color:#fff;
  text-align:left;
  margin-left:30px;
  padding-bottom:10px;
}
.content-txt h2{
  font-family:Quicksand;
  font-weight:normal;
  font-size:14px;
  font-style:italic;
  color:#fff;
  text-align:left;
  margin-left:30px;
}

/* Switch */
.switch{
  width:120px;
  height:10px;
  position:absolute;
  bottom:10px;
  z-index:99;
  left:50%;
}
.switch > ul{
  list-style:none;
}
.switch > ul > li{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#333;
  float:left;
  margin-right:5px;
  cursor:pointer;
}
.switch ul{
  overflow:hidden;
}
.on{
  width:100%;
  height:100%;
  border-radius:50%;
  background: deeppink;
  position:relative;
  -webkit-animation:on 30s infinite;
  -moz-animation:on 30s infinite;
  animation:on 30s infinite;
}

/* Animation */
@-webkit-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@-moz-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}

@-webkit-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@-moz-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@keyframes content-s{
  0%{left:-420px;}
  10%{left:20px;}
  15%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}

@-webkit-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@-moz-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

/*****************************************************************************
 * STYLING FOR "Top of Page" BUTTON                                          *
 *****************************************************************************/

#topOfPageBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 98;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: deeppink;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topOfPageBtn:hover {
  background-color: hotpink;
}

/*****************************************************************************
 * STYLING FOR NAVIGATION BAR                                                *
 *****************************************************************************/

#navbar {
  overflow: hidden;
  background-color: #fff;
}

#navbar a {
  float: left;
  display: block;
  color: #484848;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: deeppink;
  color: white;
}

#navbar a.active {
  background-color: pink;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
    
/*****************************************************************************
 * STYLING FOR GLOBAL SETTINGS                                               *
 *****************************************************************************/
body {
    margin:0;
    font-family: "Roboto", sans-serif;    
    background-color: #f4f4f4;
}
header {
    margin: 0;
    display: block;
}
footer, main, menu, nav, section {
    display:block;
}

/*****************************************************************************
/* STYLING FOR FOOTER AREA                                                   *
 *****************************************************************************/

footer {
    text-align: center;
    max-width:100% !important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding: 25px;
    background-color: #484848;
    color: white;
	font-size: .8em;
}

/*****************************************************************************
 * STYLING FOR LINKS                                                         *
 *****************************************************************************/

a {
    background-color:transparent;
    -webkit-text-decoration-skip:objects;
    text-decoration: none;
    color: deeppink;  
}

a:active,a:hover {
    outline-width:0;
}

/*****************************************************************************
 * STYLING FOR HORIZONTAL RULE                                               *
 *****************************************************************************/

hr {
    box-sizing:content-box;
    height: 2px;
    overflow:visible;
    margin: 10px;
}

/**********************
GLOBAL
***********************/

h1 {
	font-size: 2.5em;
	line-height: 1.2em;
    font-family: "Open Sans";
    text-transform: uppercase;
}

h2 {
	  font-size: 2.25em;
	  line-height: 1.25em;
}

h3 {
	  font-size: 2.0em;
	  line-height: 1.15em;
}

h4 {
	  font-size: 1.75em;
	  line-height: 1.10em;
}

h5 {
	  font-size: 1.50em;
	  line-height: 1.05em;
}

h6 {
	  font-size: 1.25em;
	  line-height: 1em;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:400;
    margin:10px 0;
}

img {
  max-width: 100%;
}

p {
  font-style: normal;
  text-align: left;
  color: #484848;
  line-height: 1.6;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

blockquote {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
  color: #999;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (min-width: 1201px) {
  .nav-container {
    padding: 0 15px;
  }
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto 25px;
  padding: 5% 1%;
  overflow: auto;
}

/***************************
END OF GLOBAL
****************************/

/**********************
HEADER AND MENUS
***********************/

/* header */

.header {
    background-color: #484848;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #484848;
  text-decoration: none;
  color: #ffffff;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
  color: #484848;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    color: #f4f4f4;
}

.header .menu-icon .navicon {
  background: #f4f4f4;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #f4f4f4;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


/* section */

.section {
  overflow: hidden;
  margin: auto;
  max-width: 1400px;
}

.section a {
  position: relative;
  float: left;
  width: 100%;
}

.section a img {
  width: 100%;
  display: block;
}

.section a span {
  color: #fff;
  position: absolute;
  left: 5%;
  bottom: 5%;
  font-size: 2em;
  text-shadow: 1px 1px 0 #000;
}

.section-split a span {
  display: none;
}

.section-split a:hover span {
  display: block;
}


/* 48em = 768px */

@media (min-width: 48em) {
  .section-split a {
    width: 50%;
  }
}
/**********************
END OF HEADER AND MENUS
***********************/

/***************************
IMAGE SLIDER SECTION
****************************/
#banner {
  padding: 50px 0 0;
  text-align: center;
  background-size: cover;
  width: 100%;
  background: rgba(59, 105, 2, 0.3);
  height: 400px;
  display: table;
}
@media only screen and (min-width: 768px) {
  #banner {
    height: 650px;
    padding: 75px 0 0;
  }
}

/**********************
END OF IMAGE SLIDER SECTION
***********************/
/**********************
QUOTE & SERVICES
***********************/
#quote, #servicesheader, #serviceslist {
  margin: 20px 0 20px;
  text-align: center;
}

#servicesheader p {
  margin: 0;
  font-size: 1.15em;
  font-weight: 500;
  color: #999;
}

#serviceslist h6 {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #484848;    
}

#serviceslist h5 {
  margin: 10px 0 10px;
  font-size: 1.25em;
  font-weight: bold;
  color: #484848;
}

#serviceslist p {
  margin: 10px 0 10px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  #quote, #servicesheader, #serviceslist {
    margin-bottom: 0;
  }
}
#quote blockquote, #servicesheader p blockquote, #serviceslist h5 h6 p {
  margin: 0 0 26px;
}
@media only screen and (min-width: 768px) {
  #quote blockquote, #servicesheader p  blockquote, #serviceslist h5 h6 p {
    font-size: 1.75em;
  }
}
@media only screen and (min-width: 813px) {
  #quote blockquote, #servicesheader p  blockquote, #serviceslist h5 h6 p {
    font-size: 2em;
  }
}
#quote a:before, #servicesheader a:before {
  content: "\2014  ";
}

/**********************
END OF QUOTE & SERVICES
***********************/

/**********************
SERVICES IMAGES
***********************/

.services-image {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;   
}

.services-image img {
    margin: 10px 0 10px;
    border: 1px solid #484848;
    border-radius: 50%;        
	transition: all 1s ease-in-out 0s;
	-moz-transition: all 1s ease-in-out 0s;
	-webkit-transition: all 1s ease-in-out 0s;
	-o-transition: all 1s ease-in-out 0s;
}

.services-image .services-image-caption {
    transition: .75s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    color: deeppink;
}

.services-image:hover .services-image-caption {
    opacity: 1;
}

.services-image:hover img {
    opacity: 0.25;
    background-color: deeppink;    
	transform: scale(.9) rotateY(180deg);
	-moz-transform: scale(.9) rotateY(180deg);
	-webkit-transform: scale(.9) rotateY(180deg);
	-o-transform: scale(.9) rotateY(180deg);
}

/**********************
END OF SERVICES IMAGES
***********************/


/**********************
MAIN CONTENT
***********************/
.column {
  margin: 43px 0 0;
}
.column:last-of-type {
  margin: 34px 0 0;
}
@media only screen and (min-width: 768px) {
  .column {
    width: 48.75%;
    float: left;
    margin: 43px 1.25% 0 0;
  }
  .column:last-of-type {
    margin: 50px 0 0 1.25%;
  }
}

/**********************
END OF MAIN CONTENT
***********************/

/**********************
FORMS
***********************/

* {
    box-sizing: border-box;
}

input[type=text], input[type=email], input[type=tel], input[type=phone], input[type=date], input[type=url], input[type=color], input[type=number], select, textarea, legend, fieldset {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/*
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
*/

input[type=submit] {
    background-color: hotpink;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.clearbutton {
    background-color: hotpink;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input[type=submit]:hover, .clearbutton:hover {
    background-color: pink;
}

.form-container {
    border-radius: 10px;
    background-color: #fff4ff;
    padding: 20px;
}

fieldset, form, label, legend {
	margin: 0px;
	padding: 0px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

legend {
    font-size: 1.5em;
    margin-top: 20px;
}
fieldset {
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 600px wide, make the columns stack on top of each other instead of next to each other and make the buttons full width */
@media screen and (max-width: 600px) {
    .col-25, .col-75, .col-50, .col-30, input[type=submit], .clearbutton {
        width: 100%;
        margin-top: 0;
    }
    
    /* Make the Contact Form thank you popup screen wider */
    .modalDialog > div {
        width: 80%;
    }
}
/**********************
END OF FORMS
***********************/

/**********************
MAP
***********************/

#map {
    height: 500px;
    width: 100%;
    margin: 10px;
    padding: 20px;
}
/**********************
END OF MAP
***********************/

/**********************
CONTENT CONTAINERS
***********************/

.container {
    border-radius: 5px;
    background-color: #fff4ff;
    padding: 20px;
}

.column-container {
    border-radius: 10px;
    padding: 20px;
}

.services-container {
    border-radius: 10px;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    padding:0 8px;    
}

.col-30 {
    float: left;
    width: 33%;
    margin-top: 6px;
    padding:0 8px;    
}

.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;    
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    padding:0 8px;    
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.container:after,.container:before,.panel:after,.panel:before,.row:after,.row:before,.row-padding:after,.row-padding:before,
.cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after {
    content:"";
    display:table;
    clear:both;
}

.row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.threequarter,.row-padding>.quarter,.row-padding>.col {
    padding:0 8px;
}

.servicesSection{
    text-align: center;
}

.servicesSection > p {
    text-align: center;
}

/**********************
END CONTENT CONTAINERS
***********************/

/*********************************
CONTACT CONFIRMATION POPUP
**********************************/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 50%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(lightpink, pink);
    background: -webkit-linear-gradient(lightpink, pink);
    background: -o-linear-gradient(lightpink, pink);
}

.closeModal {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.closeModal:hover { background: hotpink; }

/*********************************
END CONTACT CONFIRMATION POPUP
**********************************/
